[submodule "tools"]
	path = tools
	url = https://github.com/shxrkdev/tools
[submodule "projects"]
	path = projects
	url = https://github.com/shxrkdev/projects
[submodule "submodule-test"]
	path = submodule-test
	url = https://github.com/shxrkdev/submodule-test
